[Unit]
Description=PS5 USB HID Keyboard Gadget
After=local-fs.target
Before=kbpassthrough.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ps5kbd-gadget.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
